
body { background-color: black; color: white; }

a { color: white; }

h1, h2, h3, p { font-family: sans-serif }

.roofpig { width: 128px; height: 180px; display: block; }

.twist {
    background-color: #333;
    padding: 6px;
    margin: 6px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
}